<div class="admin-navbar">
    <h2 class="admin-user">Hello, Admin User!</h2>
    <div class="admin-text-menu">
        <a href="#" class="tm-admin-page">Admin Page</a>
        <a href="/admin/new/category" class="tm-register-user">New Category</a>
        <a href="/admin/new/sub-category" class="tm-register-user">New SubCategory</a>
        <a href="/auth/logout" class="tm-logout">Logout</a>
    </div>
</div>