<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">

    <base href="/">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer/footer.css">
</head>
<body>
    <%- include("navbar.ejs"); %>

    <% if(form == "Sub Category") { %>
        <div class="new-subcategory">
            <form action="/admin/new/sub-category" method="post">
                <h1 class="sub-category-text">Sub Category Form</h1>
                <div class="category">
                    <label>Category:</label>
                    <select name="category">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.name %>">
                                <%= category.name %>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="subcategory-name">
                    <label>Name:</label>
                    <input type="text" name="name">
                </div>
                <button id="subcategory-submit-btn">Add</button>
            </form>
        </div>
    <% } else if(form == "Category") { %>
        <div class="new-category">
            <form action="/admin/new/category" method="post">
                <h1 class="category-text">Category Form</h1>
                <div class="category-name">
                    <label>Name:</label>
                    <input type="text" name="name">
                </div>
                <button id="category-submit-btn">Add</button>
            </form>
        </div>
    <% } else { %>
        <p class="error">Error!!!</p>
    <% } %>

    <%- include("./footer/footer.ejs"); %>
</body>
</html>