<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>

    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
    <link rel="stylesheet" href="css/help.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("navbar.ejs"); %>
    <div class="page">
        <h1 class="info-header">About Us</h1>
        <p class="info-text">
Welcome to HelpBridge, where we believe that every connection has the potential to create positive change. Our platform is dedicated to connecting people who need help with those who can provide it, fostering a community of support, collaboration, and kindness.
<br><br>
<b>Our Mission</b>
<br><br>
At HelpBridge, our mission is simple: to create a seamless and efficient way for individuals to seek and offer assistance. Whether you need help with a project, advice on a particular topic, or just a listening ear, HelpBridge is here to connect you with the right people who can make a difference.
<br><br>
<b>Vision</b>
<br><br>
We envision a world where help is always within reach, and where everyone feels empowered to lend a hand. By bringing together those in need with those who can help, we aim to build a stronger, more supportive community that thrives on mutual aid and cooperation.
<br><br>
<b>Why Choose HelpBridge?</b>
<br><br>
<b>Easy to Use:</b> Our intuitive platform makes it easy to find the help you need or offer your expertise to others.<br>
<b>Diverse Community:</b> With members from all walks of life, you’ll find a wide range of skills and knowledge to tap into.<br>
<b>Secure and Reliable:</b> We prioritize the safety and trust of our community, ensuring secure interactions and reliable connections.<br>
<b>Impactful Connections:</b> Every connection made on HelpBridge has the potential to make a real difference in someone's life.<br>
<br><br>
<b>Join Us</b>
<br><br>
Whether you're looking to offer your skills, seek advice, or just want to be part of a supportive community, HelpBridge welcomes you. Together, we can create a network of help that makes the world a better place, one connection at a time.
<br><br>
Thank you for being a part of HelpBridge. Let's bridge the gap and make a difference together.
        </p>
    </div>

    <%- include("./footer/footer.ejs"); %>
</body>
</html>