<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS -->
    <base href="/">
    <link rel="stylesheet" href="css/meeting.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
    <%- include("navbar.ejs") %>

    <%- include("accountNavbar.ejs"); %>

    <h1>Meeting Page</h1>

    <%- include("./footer/footer.ejs"); %>
</body>
</html>