* {
    font-family: "Open Sans", sans-serif;
}
.page {
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.page .info-header {
    font-size: 45px;
    margin-bottom: 35px;
    text-align: center;
}
.page .info-text {
    margin-bottom: 25px;
    font-size: 18px;
}