* {
    font-family: "Open Sans", sans-serif;
}
.page {
    padding: 15px;
}
.page .info-header {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center
}
.page .info-text {
    margin-bottom: 25px;
    font-size: 18px;
}