* {
    margin: 0;
    padding: 0;
}

.meetings-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meetings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}
/* meeting box */
.meeting-box {
    background-color: #f2f2f2;
    padding: 25px;
    width: 300px;

    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 10px;

    font-family: sans-serif;
}

.meeting-box h3 {
    text-align: center;

    font-size: 18px;

    margin-bottom: 20px;
}

.meeting-box p {
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .meetings {
        grid-template-columns: 1fr;
    }
}