* {
    margin: 0;
    padding: 0;
  }
  
  .user-profile {
    margin-top: 50px;
    
    font-family: 'Barlow', sans-serif;
  }

  .user-profile a {
    display: block;
    width: 100px;

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    border-radius: 5px;

    text-decoration: none;
    text-align: center;

    color: white;
    background-color: #115b5c;
  }
  
  .basic-info {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
    display: flex;
    justify-content: center;
    
    width: 80%;
  }
  
  .profile-pic {
    width: 50%;
  }
  
  .profile-pic img {
    width: 100%;
  }
  
  .text-info {
    margin-top: 0px;
    margin-left: 25px;
  }
  
  .name-email-text b {
    font-size: 30px;
  }
  
  .name-email-text {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .basic-info .description {
    font-size: 16px;
  }
  
  .extra-info-text {
    margin-top: 25px;
    text-align: center;
  }
  
  .other-info-div {
    margin-top: 20px;
    
    display: flex;
  }
  
  .occupation {
    flex: 50%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .resume {
    flex: 50%;
    text-align: center;
  }
/* Edit Profile */
.submit-btn {
    outline: none;
    border: none;
    background-color: #fcba03;
    padding: 10px 25px;

    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;

    font-family: 'Barlow', sans-serif;
    font-size: 15px;

    cursor: pointer;
}

.resume-textarea, textarea, select, input {
    border: 1px solid gray;
    resize: vertical;

    font-family: 'Barlow', sans-serif;
    font-size: 15px;

    padding: 10px 15px;
    margin-top: 5px;
}

.description-textarea {
    width: 40vw;
    max-width: 500px;
}
  