* {
    margin: 0;
    padding: 0;
  }
  body {
    overflow-x: hidden;
  }
  .hidden {
    display: none;
  }
  /* navbar start */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: #fcff5e /* rgba(255, 255, 255, 0.8) */;
    /* border-bottom: 1px solid gray; */
    color: black;
    padding: 20px;
    font-size: 35px;
  }
  .navbar h2 {
    font-family: 'Covered By Your Grace', cursive;
  }
  .text-menu {
    margin-left: 100px;
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
  }
  .text-menu a {
    margin-right: 15px;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .text-menu a:hover {
    text-decoration: underline;
  }
  /* navbar end */
  /* section1: Top Story start */
  .section1 {
    font-family: 'Open Sans', sans-serif;
    /* border-bottom: 1px solid #bfbfbf;
    padding-bottom: 30px; */
    overflow: hidden;
  }
  .top-story {
    margin: 3vw 0vw 3vw 0vw;
    text-align: center;
    font-size: 40px;
    font-family: 'Outfit', sans-serif;
  }
  .section1-title a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .content img {
    width: 500px;
    height: 320px;
    margin-left: 3vw;
  }
  .content {
    display: flex;
    justify-content: center;
    height: 320px;
  }
  .text {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section1-title {
    font-size: 35px;
  }
  .description {
    width: 40vw;
    margin-top: 26.5px;
    font-size: 16.5px;
  }
  .time {
    margin-top: 23.5px;
  }
  /* Section 1: Top Story end */
  /* Section2 start */
  .section2 {
    background-color: #f0f0f0;
    margin-top: 50px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow: scroll;
    
    scroll-behavior: smooth;
  }
  .part1 {
    display: flex;
    /* gap: 40px; */
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }
  /* news1 start */
  .s2-news1 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    margin-left: 50px;
    
    background: url(https://images.unsplash.com/photo-1502990761710-f2d611db0bc7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODY0NDA2NA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    
    position: relative;
  }
  .news1-content {
    position: absolute;
    bottom: 0;
    
    color: white;
    margin-left: 25px;
    margin-bottom: 15.5px;
    
    border-top: 2.5px solid yellow;
    padding-top: 8px;
  }
  .news1-title {
    font-size: 28.5px;
  }
  .news1-description {
    font-size: 16.5px;
    margin-top: 3.5px;
    color: #ededed;
  }
  .news1-time {
    font-size: 14px;
    margin-top: 15px;
    font-style: italic;
  }
  /* news1 end */
  /* news2 start */
  .s2-news2 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    
    background: url(https://images.unsplash.com/photo-1502990761710-f2d611db0bc7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODY0NDA2NA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    
    position: relative;
  }
  .news2-content {
    position: absolute;
    bottom: 0;
    
    color: white;
    margin-left: 25px;
    margin-bottom: 15.5px;
    
    border-top: 2.5px solid yellow;
    padding-top: 8px;
  }
  .news2-title {
    font-size: 28.5px;
  }
  .news2-description {
    font-size: 16.5px;
    margin-top: 3.5px;
    color: #ededed;
  }
  .news2-time {
    font-size: 14px;
    margin-top: 15px;
    font-style: italic;
  }
  /* news 3 and 4 start */
  .s2-news3 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    
    background: url(https://images.unsplash.com/photo-1502990761710-f2d611db0bc7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODY0NDA2NA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    
    position: relative;
  }
  .news3-content {
    position: absolute;
    bottom: 0;
    
    color: white;
    margin-left: 25px;
    margin-bottom: 15.5px;
    
    border-top: 2.5px solid yellow;
    padding-top: 8px;
  }
  .news3-title {
    font-size: 28.5px;
  }
  .news3-description {
    font-size: 16.5px;
    margin-top: 3.5px;
    color: #ededed;
  }
  .news3-time {
    font-size: 14px;
    margin-top: 15px;
    font-style: italic;
  }
  /* news3 end */
  /* news4 start */
  .s2-news4 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    
    background: url(https://images.unsplash.com/photo-1502990761710-f2d611db0bc7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODY0NDA2NA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    
    position: relative;
  }
  .news4-content {
    position: absolute;
    bottom: 0;
    
    color: white;
    margin-left: 25px;
    margin-bottom: 15.5px;
    
    border-top: 2.5px solid yellow;
    padding-top: 8px;
  }
  .news4-title {
    font-size: 28.5px;
  }
  .news4-description {
    font-size: 16.5px;
    margin-top: 3.5px;
    color: #ededed;
  }
  .news4-time {
    font-size: 14px;
    margin-top: 15px;
    font-style: italic;
  }
  /* news 4 end */
  .s2-news1, .s2-news2, .s2-news3, .s2-news4 {
    margin-right: 50px;
    width: 400px;
    display: inline;
  }

  .s2-news1 a, .s2-news2 a, .s2-news3 a, .s2-news4 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  /* section2 arrows */
  .arrows {
    display: flex;
    height: 300px;
    padding-top: 38.5px;
    padding-bottom: 38.5px;
    align-items: center;
  }
  .right-arrow, .left-arrow {
    display: block;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 25px 15px 25px;
    font-size: 33.52px;
    z-index: 1000;
  }
  .right-arrow {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .left-arrow {
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  /* arrows end */
  /* section 3 start */
  .section3 {
    font-family: 'Open Sans', sans-serif;
  }
  .s3-most-recent3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* most recent */
  .most-recent {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    
    background: linear-gradient(0deg, rgba(0,0, 0,0.35) 0%, rgba(0,0,0,0) 100%), url(https://images.unsplash.com/photo-1614088459293-5669fadc3448?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODkyNjU0OA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 700px;
    position: relative;
  }
  .most-recent-content {
    position: absolute;
    bottom: 0%;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15.5px;
    
    padding-top: 8px;
  }
  .mr-title {
    font-size: 31.5px;
    
    margin-right: 25px;
    border-bottom: 2px solid yellow;
    margin-bottom: 10.5px;
    
    padding-bottom: 5px;
  }
  .mr-time {
    font-size: 14px;
    margin-top: 13px;
    font-style: italic;
  }
  /* most recent end */
  /* most recent 2 start */
  .most-recent2 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    margin-left: 25px;
    
    background: linear-gradient(0deg, rgba(0,0, 0,0.5) 0%, rgba(0,0,0,0) 100%), url(https://images.unsplash.com/photo-1614088459293-5669fadc3448?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODkyNjU0OA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 400px;
    position: relative;
  }
  .mr2-content {
    position: absolute;
    bottom: 0%;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15.5px;
    
    padding-top: 8px;
  }
  .mr2-title {
    font-size: 25.5px;
    
    margin-right: 25px;
    border-bottom: 2px solid yellow;
    
    padding-bottom: 10px;
  }
  .mr2-description {
    font-size: 15.5px;
  }
  .mr2-time {
    font-size: 14px;
    margin-top: 13px;
    font-style: italic;
  }
  /* most recent 2 end */
  .most-recent a, .most-recent2 a, .most-recent3 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  /* most recent 3 start */
  .most-recent3 {
    margin-top: 38.5px;
    margin-bottom: 38.5px;
    margin-left: 25px;
    
    background: linear-gradient(0deg, rgba(0,0, 0,0.5) 0%, rgba(0,0,0,0) 100%), url(https://images.unsplash.com/photo-1614088459293-5669fadc3448?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzODkyNjU0OA&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 400px;
    position: relative;
  }
  .mr3-content {
    position: absolute;
    bottom: 0%;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15.5px;
    
    padding-top: 8px;
  }
  .mr3-title {
    font-size: 25.5px;
    
    margin-right: 25px;
    border-bottom: 2px solid yellow;
    
    padding-bottom: 10px;
  }
  .mr3-time {
    font-size: 14px;
    margin-top: 13px;
    font-style: italic;
  }
  /* other stories */
  .other-recent-stories {
    background-color: #ededed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  /* first row cards 1-3 */
  .rs-card1, .rs-card2, .rs-card3 {
    display: block;
    width: 250px;
    height: 400px;
    background-color: white;
    
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .card1-img, .card2-img, .card3-img {
    width: 100%;
    height: 175px;
  }
  
  .card1-title, .card2-title, .card3-title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22.5px;
  }
  
  .card1-description, .card2-description, .card3-description {
    margin-bottom: 20px;
    font-size: 15.5px;
  }
  
  .card1-time, .card2-time, .card3-time {
    font-style: italic;
    font-size: 16px;
  }
  /* end of the first row cards 1-3 */
  .card1-title a, .card2-title a, .card3-title a, .card4-title a, .card5-title a, .card6-title a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* start of the second row cards 3-6 */
  .rs-card4, .rs-card5, .rs-card6 {
    display: block;
    width: 250px;
    height: 400px;
    background-color: white;
    
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .card4-img, .card5-img, .card6-img {
    width: 100%;
    height: 175px;
  }
  
  .card4-title, .card5-title, .card6-title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22.5px;
  }
  
  .card4-description, .card5-description, .card6-description {
    margin-bottom: 20px;
    font-size: 15.5px;
  }
  
  .card4-time, .card5-time, .card6-time {
    font-style: italic;
    font-size: 16px;
  }
  /* end of the second row
  and section 3 */
  /* start of the section 4 */
  .section4 {
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
  }
  .see-more {
    text-align: center;
    margin-bottom: 20px;
  }
  .section4-navigation {
    background-color: #a8eb34;
    padding: 25px;
  }
  .section4-navigation a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 18px;
  }
  .section4-navigation a:hover {
    border-bottom: 2px solid black;
  }
  /* end of the section 4 */
  /* media queries */
  @media screen and (max-width: 926px) {
    /* navbar */
    .text-menu {
      font-size: 20px;
      margin-left: 70px;
    }
    .navbar h2 {
      font-size: 42px;
    }
    /* navbar */
    /* section3 */
    .s3-most-recent3 {
      flex-direction: column;
      margin-left: 20px;
    }
    .most-recent {
      width: 90vw;
      height: 400px;
      margin-bottom: 20px;
    }
    .most-recent2 {
      width: 90vw;
      margin: 0px;
      height: 150px;
    }
    .most-recent3 {
      width: 90vw;
      margin: 0px;
      margin-top: 20px;
      height: 150px;
    }
    
    .card1-description, .card2-description, .card3-description, .card4-description, .card5-description, .card6-description {
      display: none;
    }
    
   .other-recent-stories {
     display: grid;
     grid-template-columns: 1fr 1fr;
     place-items: center;
    }
    .rs-card2, .rs-card4, .rs-card6 {
      margin-left: -20px;
      height: 80%;
    }
    .rs-card1, .rs-card3, .rs-card5 {
      margin-left: 25px;
      height: 80%;
      margin-right: -20;
    }
    /* section 1 */
    .content img {
      width: 50vw;
    }
  
  
  }
  
  @media screen and (max-width: 715px) {
    /* section1 */
    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .content img {
      width: 70vw;
    }
    .text {
      width: 70vw;
      margin-top: 25px;
      text-align: center;
    }
    .description {
      width: 70vw;
    }
    /* section 3 */
    .other-recent-stories {
      grid-template-columns: 1fr;
    }
    .rs-card1, .rs-card2, .rs-card3, .rs-card4, .rs-card5, .rs-card6 {
      margin-left: 0;
    }
  }