* {
    padding: 0;
    margin: 0;
}
/* text before profiles start */
.text-before-profiles {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    width: 80%;
    
    position: relative;
}

.filter {
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    
    background: linear-gradient(to bottom right, rgba(240, 245, 245, 0.9), rgba(199, 211, 212, 0.5));
    padding: 15px 25px;
    border-radius: 10px;
}
/* text before profiles end */
/* results start */
.results {
    font-family: 'Barlow', sans-serif;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.helper-profile {
    width: 200px;
    padding: 30px;
    background: linear-gradient(to bottom right, rgba(240, 245, 245, 0.6), rgba(199, 211, 212, 0.2));
    
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 15px;
}

.helper-profile img {
    width: 200px;
    border-radius: 10px;
}

.helper-profile h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

.helper-profile a {
    display: block;
    margin-top: 25px;
    text-decoration: none;
    color: white;
    background-color: #115b5c;
    padding: 15px 15px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

.btn-div {
    display: block;
    margin-top: 25px;
}

.btn-div a {
    display: inline;
}

@media screen and (max-width: 1300px) {
    .results {
    grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media screen and (max-width: 950px) {
    .results {
    grid-template-columns: 1fr 1fr; 
    }
    /* text before profiles */
    .text-before-profiles h2 {
    font-size: 20px;
    }
    .filter {
    padding: 10px 20px;
    font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .results {
    grid-template-columns: 1fr; 
    }
}
/* results end */