<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="section1">
        <nav class="navbar">
            <h2>Hopeful Steps</h2>
            <div class="text-menu">
            <a href="/" class="home">Home</a>
            <a href="/stories" class="stories-link">Stories</a>
            <a href="/about" class="about-us">About Us</a>
            <a class="help-link">Help Now</a>
        </nav>
        <div class="section1-text">
            <div class="aboutus-container">
                <h2 class="about-us-text">About Us</h2>
                <p class="about-us-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient montes nascetur. Porttitor eget dolor morbi non arcu risus quis varius quam. Eu tincidunt tortor aliquam nulla facilisi. Sed egestas egestas fringilla phasellus. Viverra accumsan in nisl nisi. Id porta nibh venenatis cras sed felis. Convallis a cras semper auctor. Eu ultrices vitae auctor eu. Tortor condimentum lacinia quis vel eros donec ac odio. Velit scelerisque in dictum non. A condimentum vitae sapien pellentesque habitant. Augue ut lectus arcu bibendum at varius vel pharetra vel. Dui vivamus arcu felis bibendum ut. Neque ornare aenean euismod elementum nisi quis. Porta non pulvinar neque laoreet suspendisse interdum. Pharetra vel turpis nunc eget.
                </p>
            </div>
        </div>
    </div>
</body>
</html>