<nav class="navbar">
    <div class="logo"><a href="/">Finance Daily</a></div>
    <% if (locals.user) { %>
      <div class="text-menu">
        <a href="/admin">Admin Page</a>
        <a href="/admin/logout">Logout</a>
      </div> 
    <% } %>
  </nav>