<div class="footer">
    <h2 class="footer-title-web"><a href="/">helpbridge.com</a></h2>
    <div class="footer-content">
        <h3>Navigation</h3>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/account">Account</a>
        <a href="/help">Help Now</a>
        
        <h3>Additional Things</h3>
        <a href="/privacy-policy" class="footer-add-info">Privacy Policy</a>
        <a href="/cookie-policy" class="footer-add-info"> Cookie Policy</a>
    </div>
    <div class="footer-copyright">     
        <p>&copy Helpbridge. All Rights Reserved.</p>
    </div>
</div>
